<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./templates/head.ejs %>
</head>

<body>
    <!-- Header -->
    <% include ./templates/header.ejs %>

    <!-- Main -->
    <main class="main">
        <div class="main_inner">
            <% include ./board/board_board.ejs %>
        </div>
    </main>

    <!-- Footer -->
    <% include ./templates/footer.ejs %>
</body>

</html>