<!-- 홈 - 업체 Section -->
<section class="block">
    <div class="block_title_wrapper">
        <h2>BEST COMPANY</h2>
    </div>
    <div class="block_content">
        <div class="company_wrapper">
            <a href="https://www.google.com" class="company">
                <div class="company_thumbnail_wrapper">
                    <img src='/images/tesla.png'>
                </div>
                <div class="company_description_wrapper">
                    <div class="company_description_title">
                        최고의 업체 테슬라!!
                    </div>
                    <div class="company_description_text">
                        당신만을 기다리고 있습니다.
                    </div>
                    <div class="company_description_count">현재 137명이 신청했어요!</div>
                </div>
            </a>
            <a href="https://www.google.com" class="company">
                <div class="company_thumbnail_wrapper">
                    <img src='/images/samsung.jpg'>
                </div>
                <div class="company_description_wrapper">
                    <div class="company_description_title">
                        저희 삼성에 관심을 가져주세요..
                    </div>
                    <div class="company_description_text">
                        삼성이 미래다.
                    </div>
                    <div class="company_description_count">현재 11명이 신청했어요!</div>
                </div>
            </a>
            <a href="https://www.google.com" class="company">
                <div class="company_thumbnail_wrapper">
                    <img src='/images/bank.jpg'>
                </div>
                <div class="company_description_wrapper">
                    <div class="company_description_title">
                        증권가의 중심 여의도 은행
                    </div>
                    <div class="company_description_text">
                        지금 당장 준비해주세요.
                    </div>
                    <div class="company_description_count">현재 37명이 신청했어요!</div>
                </div>
            </a>
            <a href="https://www.google.com" class="company">
                <div class="company_thumbnail_wrapper">
                    <img src='/images/apple.jpg'>
                </div>
                <div class="company_description_wrapper">
                    <div class="company_description_title">
                        애플이 또 한번의 혁명을 일으키다
                    </div>
                    <div class="company_description_text">
                        애플은 사과 사과는 맛있어.
                    </div>
                    <div class="company_description_count">현재 159명이 신청했어요!</div>
                </div>
            </a>
        </div>
    </div>
</section>